<div class="background-video">
  <video id="bg-video" autoplay muted loop playsinline preload="auto">
    <source src="assets/Auravideo.mp4" type="video/mp4">
    Seu navegador não suporta vídeos HTML5.
  </video>
</div>

<div class="login-container">

  <header class="header">
    <div class="logo">
      Grow<span class="highlight">Map</span>
    </div>

    <nav class="nav-menu">
      <a href="#">SOBRE</a>
      <a href="#">FEEDBACK</a>
      <a href="#">ORÇAMENTO</a>
      <a href="#">CONTATOS</a>
      <a href="#">PARCEIROS</a>
      <a href="#">HOME</a>
      <a routerLink="/login">LOGIN</a>
      <button class="btn-register active" routerLink="/cadastro">Registrar-se</button>
    </nav>
  </header>

  <main class="main-content">
    <div class="register-form">
      <h2>Criar Conta</h2> <br>
      <br>

      <form (ngSubmit)="handleRegister()">

        <div class="message-container" *ngIf="errorMessage">
          <p class="error-message">{{ errorMessage }}</p>
        </div>
        <div class="message-container" *ngIf="successMessage">
          <p class="success-message">{{ successMessage }}</p>
        </div>
        <div class="input-group">
          <input 
            type="text" 
            placeholder="Nome de Usuário" 
            [(ngModel)]="username" 
            name="username"
          />
          <span class="icon">👤</span>
        </div>

        <div class="input-group">
          <input 
            type="text" 
            placeholder="E-mail" 
            [(ngModel)]="email" 
            name="email"
          />
          <span class="icon">✉️</span>
        </div>

        <div class="input-group">
          <input 
            type="password" 
            placeholder="Senha" 
            [(ngModel)]="password" 
            name="password"
          />
          <span class="icon">🔒</span>
        </div>

        <div class="input-group">
          <input 
            type="password" 
            placeholder="Confirmar Senha" 
            [(ngModel)]="confirmPassword" 
            name="confirmPassword"
          />
          <span class="icon">🔒</span>
        </div>
        
        <button 
          type="submit" 
          class="btn-register-form"
          [disabled]="successMessage"
        >
          Criar Conta
        </button>

      </form>
      </div>
  </main>
</div>